.speed-container {
  margin: 0;
}

.speed-display {
  width: 35px;
  max-width: 35px;
  display: inline-block;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin: 0 5px;
  text-align: center;
}

.speed-button {
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin: 0 5px;
}
